.carousel {
  margin: 0 auto;
}

.carousel .slick-list {
  max-width: 100vw !important;
}

.carousel .slick-slide {
  display: flex !important;
  justify-content: center;
}

.carousel .slick-dots {
  display: flex !important;
  justify-content: center;
  margin-top: 10px;
}

.carousel .slick-dots li {
  margin: 0 5px;
}

.carousel .slick-dots li button:before {
  font-size: 10px;
  opacity: 0.5;
  color: gray;
}

.carousel .slick-dots li.slick-active button:before {
  opacity: 1;
}

.carousel .slick-slide div {
  outline: none;
}

.carousel .slick-slide .slick-cloned {
  width: auto;
}

@media (max-width: 220px) {
  .carousel .slick-list {
    max-width: 210px !important;
  }
}